In [4]:
import numpy as np
import pandas as pd

In [20]:
a = pd.read_csv('상권배후지-추정유동인구(2019년).csv', encoding='CP949')

In [21]:
a.head()

,stdr_yy_cd,stdr_qu_cd,trdar_se_cd,trdar_se_cd_nm,trdar_cd,trdar_cd_nm,tot_flpop_co,ml_flpop_co,fml_flpop_co,agrde_10_flpop_co,...,fag_60_above_sattm_3_flpop_co,fag_60_above_sattm_4_flpop_co,fag_60_above_sattm_5_flpop_co,fag_60_above_sattm_6_flpop_co,fag_60_above_suntm_1_flpop_co,fag_60_above_suntm_2_flpop_co,fag_60_above_suntm_3_flpop_co,fag_60_above_suntm_4_flpop_co,fag_60_above_suntm_5_flpop_co,fag_60_above_suntm_6_flpop_co
0,2019,1,A,골목상권,1000948,백제고분로34길,891686,458778,432913,27424,...,1494,1363,1537,854,1393,1941,1944,1515,1383,668
1,2019,1,A,골목상권,1000949,백제고분로39길,1350290,664267,686024,60609,...,2645,2297,2477,1124,1707,2509,3710,2505,2157,883
2,2019,1,A,골목상권,1000950,백제고분로42길,1537065,746194,790871,107321,...,2662,2604,2928,1373,2269,2591,2612,2503,2554,1098
3,2019,1,A,골목상권,1000951,백제고분로45길,2034278,1011486,1022793,80721,...,3303,3096,3915,1923,3015,3072,3108,2935,3532,1630
4,2019,1,A,골목상권,1000952,백제고분로46길,1700466,832267,868198,109671,...,3110,3028,3634,1954,3414,3803,3472,2991,3483,1781

In [37]:
a.columns

Index(['stdr_yy_cd', 'stdr_qu_cd', 'trdar_se_cd', 'trdar_se_cd_nm', 'trdar_cd',
       'trdar_cd_nm', 'tot_flpop_co', 'ml_flpop_co', 'fml_flpop_co',
       'agrde_10_flpop_co',
       ...
       'fag_60_above_sattm_3_flpop_co', 'fag_60_above_sattm_4_flpop_co',
       'fag_60_above_sattm_5_flpop_co', 'fag_60_above_sattm_6_flpop_co',
       'fag_60_above_suntm_1_flpop_co', 'fag_60_above_suntm_2_flpop_co',
       'fag_60_above_suntm_3_flpop_co', 'fag_60_above_suntm_4_flpop_co',
       'fag_60_above_suntm_5_flpop_co', 'fag_60_above_suntm_6_flpop_co'],
      dtype='object', length=532)

In [47]:
a1 = ['trdar_se_cd_nm','trdar_cd_nm','tot_flpop_co','ml_flpop_co'
      ,'fml_flpop_co','agrde_20_flpop_co','agrde_30_flpop_co','agrde_40_flpop_co'
      ,'agrde_50_flpop_co']
aa = a[a1]

,trdar_se_cd_nm,trdar_cd_nm,tot_flpop_co,ml_flpop_co,fml_flpop_co,agrde_20_flpop_co,agrde_30_flpop_co,agrde_40_flpop_co,agrde_50_flpop_co
0,골목상권,백제고분로34길,891686,458778,432913,200897,222019,164050,153462
1,골목상권,백제고분로39길,1350290,664267,686024,314008,316896,224150,230418
2,골목상권,백제고분로42길,1537065,746194,790871,364109,323153,239255,265241
3,골목상권,백제고분로45길,2034278,1011486,1022793,571739,484153,312444,306971
4,골목상권,백제고분로46길,1700466,832267,868198,383186,360773,273150,296763
5,골목상권,백제고분로50길,1423398,732182,691212,302588,315364,240651,235236
6,골목상권,강동대로53길,1158018,618821,539188,228499,205462,198138,202070
7,골목상권,고덕로10길,2055084,1056460,998629,391745,406795,383062,397196
8,골목상권,고덕로25길,492572,259729,232843,93913,113147,93642,84751
9,골목상권,고덕로61길,160769,79399,81366,16612,23975,36051,36634
10,골목상권,구천면로36길,1800404,935093,865323,332663,345165,304307,362201
11,골목상권,동남로65길,304603,137256,167348,44109,36280,55467,63898
12,골목상권,동남로82길,52127,41726,10399,3425,7137,9670,17535
13,골목상권,동남로85길,171059,86553,84503,18000,22610,36975,41289
14,골목상권,명일로13길,1825867,924605,901261,318753,329259,323025,359658
15,골목상권,상암로14길,2022492,1042300,980189,375869,386152,362961,402112
16,골목상권,상암로4길,1772850,913156,859698,325738,341303,322017,351146
17,골목상권,상암로51길,2216275,1105135,1111140,441444,353296,364472,416827
18,골목상권,상암로5길,1931320,988642,942680,365024,377438,357777,374880
19,골목상권,상일로5길,175166,118366,56804,17970,25541,36211,48797
20,골목상권,성내로5길,2643128,1311828,1331314,462534,524833,492910,521958
21,골목상권,성안로3길,1431095,734953,696139,249886,284367,278251,278389
22,골목상권,양재대로116길,2506426,1281493,1224933,503021,477547,445335,506384
23,골목상권,양재대로124길,2221381,1125542,1095844,414481,398630,377480,438034
24,골목상권,양재대로95길,2425889,1255827,1170065,461704,461116,428205,472303
25,골목상권,양재대로96길,1789379,926987,862400,309891,318079,301202,352532
26,골목상권,올림픽로48길,1292265,655381,636890,213564,262198,253974,257854
27,골목상권,올림픽로71길,1725619,802548,923080,343377,349711,302835,334712
28,골목상권,올림픽로77길,1611348,778864,832492,311473,321983,290026,319332
29,골목상권,올림픽로78길,1515474,776494,738982,311449,279881,260167,305763
...,...,...,...,...,...,...,...,...,...
980,골목상권,영동대로112길,1083190,572324,510862,226670,285365,226261,177391
981,골목상권,영동대로65길,1887959,1040456,847497,303450,298189,390136,245173
982,골목상권,일원로3길,1265217,665776,599440,238189,225047,222937,254558
983,골목상권,일원로9길,1197721,622193,575524,227163,212229,209250,241668
984,골목상권,테헤란로81길,1589353,936766,652587,377252,500446,350794,193123
985,골목상권,학동로38길,1810246,930609,879647,453442,486265,372050,262425
986,골목상권,학동로56길,2863950,1473586,1390376,767521,782794,537764,341775
987,골목상권,학동로6길,1372811,755642,617171,466841,397993,233433,137294
988,골목상권,학동로77길,1212413,550014,662399,262552,307256,234607,179987
989,골목상권,거마로20길,1131580,600567,531006,179638,175328,202537,271447
990,골목상권,동남로20길,1519543,754476,765062,261422,266669,268179,284683
991,골목상권,마천로51길,1013625,553653,459967,142403,151103,179042,255441
992,골목상권,백제고분로21길,1908563,938792,969776,401905,439523,340398,288210
993,골목상권,백제고분로22길,852778,442309,410470,204807,202628,146861,137963
994,골목상권,백제고분로31길,2215957,1103478,1112482,479366,537127,393385,337929
995,골목상권,오금로11길,2602288,1362931,1239349,775526,621857,414116,374823
996,골목상권,오금로36길,1182269,626261,556009,215691,237318,207860,257494
997,골목상권,구천면로41길,3717778,1946990,1770782,623968,736863,705573,721310
998,골목상권,구천면로42길,4300331,2221101,2079225,706274,850078,804895,809914
999,골목상권,암사길,3430393,1786982,1643414,568697,709122,667869,637737
1000,골목상권,양재대로101길,3546854,1791408,1755442,733218,753787,643215,671942
1001,골목상권,양재대로133길,3632055,1860610,1771435,643711,660858,654604,677687
1002,골목상권,양재대로91길,1815759,956369,859384,350734,325398,322493,345759
1003,골목상권,진황도로47길,3242885,1661901,1580981,656223,651677,591875,645439
1004,골목상권,천중로39길,2760877,1395116,1365758,533288,506685,460261,509785
1005,골목상권,천호대로162길,3214980,1578350,1636628,848189,653189,504567,548544
1006,골목상권,천호대로170길,3255534,1645745,1609790,672735,660941,591114,613136
1007,골목상권,천호옛14길,3204360,1511917,1692444,815682,639820,501482,563594
1008,골목상권,천호옛길,3070192,1485625,1584578,660927,610258,521454,577013
1009,골목상권,풍성로37가길,2607258,1287202,1320057,565318,522803,455473,481943

In [48]:
aa.max()

trdar_se_cd_nm          골목상권
trdar_cd_nm            흑석로9길
tot_flpop_co         7673090
ml_flpop_co          4038509
fml_flpop_co         3634580
agrde_20_flpop_co    2689987
agrde_30_flpop_co    1981529
agrde_40_flpop_co    1578402
agrde_50_flpop_co    1211469
dtype: object

In [49]:
aa[aa['tot_flpop_co'] == 7673090]

,trdar_se_cd_nm,trdar_cd_nm,tot_flpop_co,ml_flpop_co,fml_flpop_co,agrde_20_flpop_co,agrde_30_flpop_co,agrde_40_flpop_co,agrde_50_flpop_co
488,골목상권,북아현로4길,7673090,4038509,3634580,1801593,1981529,1578402,1207046

In [50]:
aa[aa['ml_flpop_co'] ==4038509 ]

,trdar_se_cd_nm,trdar_cd_nm,tot_flpop_co,ml_flpop_co,fml_flpop_co,agrde_20_flpop_co,agrde_30_flpop_co,agrde_40_flpop_co,agrde_50_flpop_co
488,골목상권,북아현로4길,7673090,4038509,3634580,1801593,1981529,1578402,1207046

In [51]:
aa[aa['agrde_20_flpop_co'] == 2689987] #마포구

,trdar_se_cd_nm,trdar_cd_nm,tot_flpop_co,ml_flpop_co,fml_flpop_co,agrde_20_flpop_co,agrde_30_flpop_co,agrde_40_flpop_co,agrde_50_flpop_co
508,골목상권,대흥로21길,5303738,2346641,2957101,2689987,802295,519484,507690

In [52]:
aa[aa['agrde_30_flpop_co'] == 1981529] #서대문구

,trdar_se_cd_nm,trdar_cd_nm,tot_flpop_co,ml_flpop_co,fml_flpop_co,agrde_20_flpop_co,agrde_30_flpop_co,agrde_40_flpop_co,agrde_50_flpop_co
488,골목상권,북아현로4길,7673090,4038509,3634580,1801593,1981529,1578402,1207046

In [53]:
aa[aa['agrde_40_flpop_co'] == 1578402]

,trdar_se_cd_nm,trdar_cd_nm,tot_flpop_co,ml_flpop_co,fml_flpop_co,agrde_20_flpop_co,agrde_30_flpop_co,agrde_40_flpop_co,agrde_50_flpop_co
488,골목상권,북아현로4길,7673090,4038509,3634580,1801593,1981529,1578402,1207046

In [54]:
aa[aa['agrde_50_flpop_co'] == 1211469]

,trdar_se_cd_nm,trdar_cd_nm,tot_flpop_co,ml_flpop_co,fml_flpop_co,agrde_20_flpop_co,agrde_30_flpop_co,agrde_40_flpop_co,agrde_50_flpop_co
493,골목상권,신촌로37길,7591396,3958952,3632443,1768195,1951495,1555277,1211469